@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #6565656a;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.nav-container {
  @apply max-w-[1180px] lg:px-8 xl:px-0 w-full mx-auto;
}

.default-container {
  @apply max-w-[1140px] px-4 lg:px-10 xl:px-0 w-full mx-auto;
}

.button-primary {
  @apply uppercase py-4 px-9 bg-primary hover:bg-black hover:text-white transition-all duration-300 text-[17px] font-bold rounded-[100px] tracking-[2px];
}
