@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #6565656a;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.nav-container {
  @apply max-w-[1180px] lg:px-8 xl:px-0 w-full mx-auto;
}

.default-container {
  @apply max-w-[1140px] px-4 lg:px-10 xl:px-0 w-full mx-auto;
}

.button-primary {
  @apply uppercase py-3 px-9 bg-primary hover:bg-black hover:text-white transition-all duration-300 text-[17px] font-semibold rounded-[100px] tracking-[2px];
}

.default-text-style {
  @apply text-lg font-normal text-paragraph;
}

.bg-gradient-yellow {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 201, 1, 0.46) 100%
  );
}

/*random curves */
.custom-shape-divider-top-1708621683 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1708621683 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 58px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1708621683 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1708621578 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1708621578 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 58px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1708621578 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1708773692 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1708773692 svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 56px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1708773692 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1708786721 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1708786721 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 52px;
}

.custom-shape-divider-bottom-1708786721 .shape-fill {
  fill: #ffffff;
}

/* halfmoon curve */
.custom-shape-divider-top-1709056917 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1709056917 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 263px;
}

.custom-shape-divider-top-1709056917 .shape-fill {
  fill: #fff6d1;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1709056917 svg {
    width: calc(100% + 1.3px);
    height: 160px;
  }
}
